{% extends "_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{% trans "This Could Be Yours - Password Reset Done" %}{% endblock %}

{% block 'content' %}
    {% get_current_language as CURRENT_LANGUAGE %}

    {% if CURRENT_LANGUAGE == 'ar' %}

		<div id="book-an-appointment" class="book-an-appointment min-h-full scroll-mt-24 w-full my-24 mb-9 py-20">
			<div class="max-w-7xl mx-auto">
				<div class="text-center">
					<h2 class="text-5xl">{% trans "Password reset initiated" %}</h2>
					<p class="text-3xl my-5">{% trans "An email has been sent to the" %}
						{% trans "address you provided with instructions" %}
						{% trans " to reset your password." %}</p>
				</div>
			</div>
		</div>		

    {% elif CURRENT_LANGUAGE == 'en' %}

		<div id="book-an-appointment" class="book-an-appointment-ar min-h-full scroll-mt-24 w-full my-24 mb-9 py-20">
			<div class="max-w-7xl mx-auto">
				<div class="text-center">
					<h2 class="text-5xl">{% trans "Password reset initiated" %}</h2>
					<p class="text-3xl my-5">{% trans "An email has been sent to the" %}
						{% trans "address you provided with instructions" %}
						{% trans " to reset your password." %}</p>
				</div>
			</div>
		</div>		

    {% endif %}

{% endblock %}
