{% extends "_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{% trans "This Could Be Yours - Password Reset Complete" %}{% endblock %}

{% block 'content' %}
    {% get_current_language as CURRENT_LANGUAGE %}

    {% if CURRENT_LANGUAGE == 'ar' %}

		<div id="book-an-appointment" class="book-an-appointment min-h-full scroll-mt-24 w-full my-24 mb-9 py-20 hidden lg:block">
			<div class="cntnr max-w-7xl mx-auto rounded-2xl">
				<div class="text-center py-5">
					<h2 class="text-4xl paragraph">{% trans "Password reset completed." %}</h2>
					<div class="flex justify-center items-center gap-2">
						<a href="{% url 'main:index' %}#book-an-appointment-ar" class="rounded-xl heading hover:underline font-bold text-lg py-2.5">
							{% trans "Book an Appointment" %}
						</a>
						<p class="paragraph text-lg">{% trans " Please go ahead and" %}</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Below lg -->

		<div id="book-an-appointment" class="book-an-appointment min-h-full scroll-mt-24 w-full my-24 mb-9 py-20 block lg:hidden">
			<div class="cntnr max-w-7xl mx-auto rounded-2xl">
				<div class="text-center py-5">
					<h2 class="text-4xl paragraph">{% trans "Password reset completed." %}</h2>
					<div class="flex justify-center items-center gap-2">
						<a href="{% url 'main:index' %}#book-an-appointment-ar-blw-lg" class="rounded-xl heading hover:underline font-bold text-lg py-2.5">
							{% trans "Book an Appointment" %}
						</a>
						<p class="paragraph text-lg">{% trans " Please go ahead and" %}</p>
					</div>
				</div>
			</div>
		</div>		

    {% elif CURRENT_LANGUAGE == 'en' %}

		<div id="book-an-appointment" class="book-an-appointment min-h-full scroll-mt-24 w-full my-24 mb-9 py-20">
			<div class="cntnr max-w-7xl mx-auto rounded-2xl">
				<div class="text-center py-5">
					<h2 class="text-4xl paragraph">{% trans "Password reset completed." %}</h2>
					<div class="flex justify-center items-center gap-2">
						<p class="paragraph text-lg">{% trans " Please go ahead and" %}</p>
						<a href="{% url 'main:index' %}#book-an-appointment" class="rounded-xl heading hover:underline font-bold text-lg py-2.5">
							{% trans "Book an Appointment" %}
						</a>
					</div>
				</div>
			</div>
		</div>		

    {% endif %}

{% endblock %}
