{% extends "_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{% trans "This Could Be Yours - Password Reset Confirmation" %}{% endblock %}

{% block 'content' %}
    {% get_current_language as CURRENT_LANGUAGE %}

    {% if CURRENT_LANGUAGE == 'ar' %}
    <div id="book-an-appointment" class="min-h-full scroll-mt-24 w-full mt-24 mb-9 py-10 hidden lg:block">
        <div class="max-w-xl mx-auto flex flex-wrap gap-2">
            <div class="flex-1 mx-4">
                <div class="cntnr rounded-2xl p-6">
                    <form class="w-full text-right" method="post">
                        {% csrf_token %}
                        <div>
                            <h4 class="text-4xl text-center paragraph p-5">{% trans "Reset Password" %}</h4>
                        </div>
                        {% if form.errors %}
                            <div class="text-red-700 text-lg">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="flex flex-wrap gap-5 items-center mb-5">
													<div class="flex-grow">
														{% render_field form.new_password1 type="password" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
													</div>
													<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Password" %}</label>
												</div>
                        <div class="flex flex-wrap gap-5 items-center mb-5">
													<div class="flex-grow">
														{% render_field form.new_password2 type="password" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
													</div>
													<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Confirm Password" %}</label>
												</div>											
                        <button type="submit" class="text-white hover:-translate-y-2 w-full bg-main-gradient focus:outline-none font-medium rounded-lg text-2xl px-5 py-2.5 text-center">{% trans "Submit" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Below lg screen -->
    <div id="book-an-appointment-ar-blw-lg" class="book-an-appointment-ar scroll-mt-24 min-h-full w-full mt-24 mb-9 py-10 blogk lg:hidden">
        <div class="max-w-7xl mx-auto flex flex-wrap gap-2">
            <div class="flex-1 mx-4">
                <div class="cntnr rounded-2xl p-6" id="form-container">
                    <form class="w-full text-right" method="post">
                        {% csrf_token %}
                        <div>
                            <h4 class="text-4xl text-center paragraph p-5">{% trans "Reset Password" %}</h4>
                        </div>
                        {% if form.errors %}
                            <div class="text-red-700 text-lg">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="flex flex-wrap gap-5 items-center mb-5">
													<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Password" %}</label>
													<div class="flex-grow">
														{% render_field form.new_password1 type="password" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
													</div>
													</div>
													<div class="flex flex-wrap gap-5 items-center mb-5">
														<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Confirm Password" %}</label>
														<div class="flex-grow">
															{% render_field form.new_password2 type="password" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
														</div>
													</div>
												</div>
                        <button type="submit" class="text-white hover:-translate-y-2 w-full bg-main-gradient focus:outline-none font-medium rounded-lg text-2xl px-5 py-2.5 text-center">{% trans "Submit" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% elif CURRENT_LANGUAGE == 'en' %}
    <div id="book-an-appointment" class="min-h-full scroll-mt-24 w-full mt-24 mb-9 py-10">
        <div class="max-w-xl mx-auto">
            <div class="mx-4">
                <div class="cntnr rounded-2xl p-6" id="form-container">
                    <form class="w-full" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <h4 class="text-2xl text-center paragraph p-5">{% trans "Reset Password" %}</h4>
                        </div>
                        {% if form.errors %}
                            <div class="text-red-700 text-lg">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="flex flex-wrap gap-5 items-center mb-5">
													<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Password" %}</label>
													<div class="flex-grow">
														{% render_field form.new_password1 type="password" class="shadow-sm  bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
													</div>
													</div>
													<div class="flex flex-wrap gap-5 items-center mb-5">
														<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Confirm Password" %}</label>
														<div class="flex-grow">
															{% render_field form.new_password2 type="password" class="shadow-sm  bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
														</div>
														<button type="submit" class="text-white hover:-translate-y-2 w-full bg-main-gradient focus:outline-none font-medium rounded-lg text-2xl px-5 py-2.5 text-center">{% trans "Submit" %}</button>
													</div>
												</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
{% endblock %}
