{% extends "_base.html" %}
{% load i18n %}
{% load widget_tweaks %}


{% load static %}
{% block 'title' %}{% trans "This Could Be Yours" %} - {% trans "Signup" %}{% endblock %}

{% block 'content' %}

{% get_current_language as CURRENT_LANGUAGE %}

	{% if CURRENT_LANGUAGE == 'ar' %}

	<div id="book-an-appointment-ar" class="book-an-appointment-ar min-h-full w-full mt-24 mb-9 py-10 hidden scroll-mt-24 lg:block">
		<div class="max-w-7xl mx-auto flex flex-wrap gap-2">
			<div class="flex-1 mx-4"> <!-- Added mx-4 for horizontal margin -->
					<div class="cntnr rounded-2xl p-6">

						<form class="w-full text-right" method="post">
							{% csrf_token %}
								<div>
									<h4 class="text-4xl text-center heading p-5">{% trans "Signup" %}</h4>
								</div>
								{% if signupform.errors %}
										<div class="text-red-700 text-lg">
												{% for field in signupform %}
														{% for error in field.errors %}
																<p>{{ error }}</p>
														{% endfor %}
												{% endfor %}
												{% for error in signupform.non_field_errors %}
														<p>{{ error }}</p>
												{% endfor %}
										</div>
								{% endif %}
							<div class="flex flex-wrap gap-5">
								<div class="mb-5 flex-grow">
										<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Confirm Password" %}</label>
										{% render_field signupform.password2 type="password" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
								</div>
									<div class="mb-5 flex-grow">
											<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Password" %}</label>
											{% render_field signupform.password1 type="password" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
									</div>
									<div class="mb-5 flex-grow">
											<label for="subject" class="block mb-2 text-2xl font-medium paragraph">{% trans "Username" %}</label>
											{% render_field signupform.username type="text" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="عبدالله عاطف" %}
									</div>
							</div>
								<div class="flex flex-wrap gap-5">
										<div class="mb-5 flex-grow">
												<label for="subject" class="block mb-2 text-2xl font-medium paragraph">{% trans "Email" %}</label>
												{% render_field signupform.email type="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="abc@example.com" %}
										</div>
										<div class="mb-5 flex-grow">
												<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Phone Number" %}</label>
												{% render_field patientform.phone_number type="tel" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="+12 3456 789" %}
										</div>
										<div class="mb-5 flex-grow">
											<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Profile Picture" %}</label>
											{% render_field patientform.picture class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1" %}
										</div>
								</div>
								<button type="submit" class="text-white hover:-translate-y-2 w-full bg-main-gradient focus:outline-none font-medium rounded-lg text-4xl px-5 py-2.5 text-center">{% trans "Submit" %}</button>
						</form>

					</div>
			</div>
		</div>
	</div>

	<!-- below lg -->

	<div id="book-an-appointment-ar-blw-lg" class="book-an-appointment-ar scroll-mt-24 min-h-full w-full mt-24 mb-9 py-10 blogk lg:hidden">
		<div class="max-w-7xl mx-auto flex flex-wrap gap-2">
			<div class="flex-1 mx-4"> <!-- Added mx-4 for horizontal margin -->
				<div class="cntnr rounded-2xl p-6" id="form-container">
					

					<form class="w-full text-right" method="post">
						{% csrf_token %}
							<div>
								<h4 class="text-4xl text-center paragraph p-5">{% trans "Signup" %}</h4>
							</div>
							{% if signupform.errors %}
									<div class="text-red-700 text-lg">
											{% for field in signupform %}
													{% for error in field.errors %}
															<p>{{ error }}</p>
													{% endfor %}
											{% endfor %}
											{% for error in signupform.non_field_errors %}
													<p>{{ error }}</p>
											{% endfor %}
									</div>
							{% endif %}
							<div class="flex flex-wrap gap-5">
								<div class="mb-5 flex-grow">
										<label for="subject" class="block mb-2 text-2xl font-medium paragraph">{% trans "Username" %}</label>
										{% render_field signupform.username type="text" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="عبدالله عاطف" %}
								</div>
									<div class="mb-5 flex-grow">
											<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Password" %}</label>
											{% render_field signupform.password1 type="password" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
									</div>
									<div class="mb-5 flex-grow">
											<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Confirm Password" %}</label>
											{% render_field signupform.password2 type="password" class="shadow-sm text-right bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
									</div>
							</div>
							<div class="flex flex-wrap gap-5">
									<div class="mb-5 flex-grow">
											<label for="subject" class="block mb-2 text-2xl font-medium paragraph">{% trans "Email" %}</label>
											{% render_field signupform.email type="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="abc@example.com" %}
									</div>
									<div class="mb-5 flex-grow">
											<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Phone Number" %}</label>
											{% render_field patientform.phone_number type="tel" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="+12 3456 789" %}
									</div>
									<div class="mb-5 flex-grow">
										<label for="message" class="block mb-2 text-2xl font-medium paragraph">{% trans "Profile Picture" %}</label>
										{% render_field patientform.picture class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1" %}
									</div>
							</div>
							<button type="submit" class="text-white hover:-translate-y-2 w-full bg-main-gradient focus:outline-none font-medium rounded-lg text-4xl px-5 py-2.5 text-center">{% trans "Submit" %}</button>
					</form>
			</div>
			</div>
		</div>
	</div>

	{% elif CURRENT_LANGUAGE == 'en' %}

	<div id="book-an-appointment"  class="min-h-full scroll-mt-24 w-full mt-24 mb-9 py-10">
    <div class="max-w-7xl mx-auto">
        <div class="mx-4">
            <div class="cntnr rounded-2xl p-6" id="form-container">
                <form class="w-full" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
											<h4 class="text-2xl text-center paragraph p-5">{% trans "Signup" %}</h4>
                    </div>
                    {% if signupform.errors %}
                        <div class="text-red-700 text-lg">
                            {% for field in signupform %}
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% for error in signupform.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="flex flex-wrap gap-5">
                        <div class="mb-5 flex-grow">
                            <label for="subject" class="block mb-2 text-xl font-medium paragraph">{% trans "Username" %}</label>
                            {% render_field signupform.username type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Abdullah Atif" %}
                        </div>
                        <div class="mb-5 flex-grow">
                            <label for="message" class="block mb-2 text-xl font-medium paragraph">{% trans "Password" %}</label>
                            {% render_field signupform.password1 type="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
                        </div>
                        <div class="mb-5 flex-grow">
                            <label for="message" class="block mb-2 text-xl font-medium paragraph">{% trans "Confirm Password" %}</label>
                            {% render_field signupform.password2 type="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="*****" %}
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-5">
                        <div class="mb-5 flex-grow">
                            <label for="subject" class="block mb-2 text-xl font-medium paragraph">{% trans "Email" %}</label>
                            {% render_field signupform.email type="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="abc@example.com" %}
                        </div>
                        <div class="mb-5 flex-grow">
                            <label for="message" class="block mb-2 text-xl font-medium paragraph">{% trans "Phone Number" %}</label>
                            {% render_field patientform.phone_number type="tel" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="+12 3456 789" %}
                        </div>
                        <div class="mb-5 flex-grow">
													<label for="message" class="block mb-2 text-xl font-medium paragraph">{% trans "Profile Picture" %}</label>
													{% render_field patientform.picture class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1" %}
												</div>
                    </div>
                    <button type="submit" class="text-white hover:-translate-y-2 w-full bg-main-gradient focus:outline-none font-medium rounded-lg text-2xl px-5 py-2.5 text-center">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>


	{% endif %}



{% endblock %}