{% extends "_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block 'title' %}This Could be Yours - Blog{% endblock %}

{% block 'content' %}

<!-- indigo 5 prpl 3 -->
<!-- red 7 amber 3 -->

<div class="min-h-60 bg-main-gradient rounded-br-full py-8 shadow-2xl">
	<div class="max-w-xl m-auto py-10">
		<h1 class="text-white font-bold text-center text-5xl my-5">
			This Could be Yours
		</h1>
		<div class="relative mx-5">
			<form action="{% url 'blog:index' %}">
				<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
					<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
						fill="none" viewBox="0 0 20 20">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
					</svg>
				</div>
				<input type="search" name="q" value="{{ request.GET.q }}" hx-get="{% url 'blog:index' %}"
					class="block w-full p-4 ps-10 text-sm text-gray-900 border-none bg-gray-50 focus:ring-teal-500 rounded-3xl"
					placeholder="Looking for something?" required />
				<button type="submit"
					class="text-white absolute end-2.5 bottom-2 mx-1 blog-page-art-btn focus:ring-2 font-medium rounded-lg text-sm px-4 py-2">
					Search
				</button>
			</form>
		</div>
	</div>
</div>


{% if not word and page_obj.number == 1 %}

<!-- first 4 Articles -->

<div class="flex flex-wrap gap-10 justify-center my-10 px-3">
	{% for article in ran_4 %}
	<div class="max-w-xs bg-white border border-gray-200 rounded-3xl shadow-md">
		<img class="w-full h-52 object-cover rounded-t-lg" src="{{ article.header_image.url }}" alt="Article image" />
		<div class="p-4 blog-page-desc rounded-b-lg">
			<h3 class="mb-1 text-2xl font-semibold tracking-tight heading">{{ article.title }}</h3>
			<p class="mb-2 text-lg font-normal text-gray-900">
				{{ article.description|truncatewords:10 }}
			</p>
			<a href="{% url 'blog:detail' article_id=article.id slug=article.slug %}" class="flex justify-center">
				<button type="button"
					class="hover:-translate-y-0.5 w-full text-gray-100 blog-page-art-btn focus:ring-opacity-50 transform transition  inline-flex items-center justify-center font-medium rounded-2xl text-lg p-2 mt-1 text-center me-2 mb-2">
					Read More
					<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2 mt-1 font-bold" aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M1 5h12m0 0L9 1m4 4L9 9" />
					</svg>
				</button>
			</a>
		</div>
	</div>
	{% endfor %}
</div>

<!-- Subscription section -->
<div class="max-w-full my-5 m-auto fxd-img-sec">
	<div class="text-center text-gray-100 max-w-5xl m-auto py-20 px-10 z-10">
		<h3 class="text-gray-100 text-3xl md:text-5xl font-bold my-5">Smile Brighter with Our Updates!</h3>
		<p class="md:text-xl">
			Subscribe to our newsletter for the latest tips, tricks, and trends — delivered right to your
			inbox.
		</p>
		<div id="form-container">
			<form id="subscribe-form" method="post" action="{% url 'blog:index' %}">
				{% csrf_token %}
				<div class="relative mt-5">
					{% render_field form.email type="email" class="block md:w-full p-4 ps-10 text-sm text-gray-900 border-none bg-gray-50 focus:ring-teal-500 rounded-3xl" placeholder="Your Email please..." %}
					<button type="submit"
						class="text-white absolute end-2.5 bottom-2 mx-1 blog-page-art-btn focus:ring-2 font-medium rounded-lg text-sm px-4 py-2">
						Signup
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endif %}

<!-- rest of the articles -->
<div class="flex flex-wrap gap-6 justify-center my-8 px-2">
	{% for article in page_obj.object_list %}
	<div class="max-w-xs bg-white border border-gray-200 rounded-3xl shadow-md">
		<img class="w-full h-52 object-cover rounded-t-lg" src="{{ article.header_image.url }}" alt="Article image" />
		<div class="p-4 blog-page-desc rounded-b-lg">
			<h3 class="mb-1 text-2xl font-semibold tracking-tight heading">{{ article.title }}</h3>
			<p class="mb-2 text-lg font-normal text-gray-900">
				{{ article.description|truncatewords:10 }}
			</p>
			<a href="{% url 'blog:detail' article_id=article.id slug=article.slug %}" class="flex justify-center">
				<button type="button"
					class="hover:-translate-y-0.5 w-full text-gray-100 blog-page-art-btn focus:ring-opacity-50 transform transition  inline-flex items-center justify-center font-medium rounded-2xl text-lg p-2 mt-1 text-center me-2 mb-2">
					Read More
					<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2 mt-1 font-bold" aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M1 5h12m0 0L9 1m4 4L9 9" />
					</svg>
				</button>
			</a>
		</div>
	</div>
	{% endfor %}
</div>


<!-- Pagination buttons -->
<div
	class="flex items-center justify-center bottom-0 space-x-4 mt-4 bg-main-gradient p-4 rounded-tl-full shadow-md">
	{% if page_obj.has_previous %}
			<a href="?page={{page_obj.previous_page_number}}" class="px-4 py-2 pgntn-text bg-white border pgntn-brdr pgntn-btn-on-hover rounded-lg shadow-sm">
				&lt; Previous
			</a>
	{% endif %}
	
	{% if page_obj.number == 1 %}
			<span class="px-4 py-2 pgntn-text bg-white border pgntn-brdr rounded-lg shadow-sm">1</span>
	{% else %}
			<span class="px-4 py-2 pgntn-text bg-white border pgntn-brdr rounded-lg shadow-sm">{{ page_obj.number }}</span>
	{% endif %}
	
	{% if page_obj.has_next %}
			<a href="?page={{page_obj.next_page_number}}" class="px-4 py-2 pgntn-text bg-white border pgntn-brdr pgntn-btn-on-hover rounded-lg shadow-sm">
					Next &gt;
			</a>
	{% endif %}
</div>


{% endblock %}



{% block 'script' %}

<script>

	$(document).ready(function () {
		$('#subscribe-form').on('submit', function (event) {
			event.preventDefault();
			var form = $(this);
			$.ajax({
				url: form.attr('action'),
				method: form.attr('method'),
				data: form.serialize(),
				success: function (data) {
					$('#form-container').html('<p class="mt-3 text-2xl md:text-4xl font-bold">' + data.message + '</p>');
				},
				error: function (xhr, errmsg, err) {
					console.log(xhr.status + ": " + xhr.responseText);
					$('#form-container').html('<p>There was an error with your submission</p>');
				}
			});
		});
	});


</script>

{% endblock %}